---
title: About
layout: default
home-title: JENS ROSY LIFE
header-img: "assets/img/floral-rose-watercolor-background.jpg"
description: interior design and lovely shit.
---

{% include header.html %}

<div class="g-banner home-banner {{ site.theme-color | prepend: 'banner-theme-' }}" data-theme="{{ site.theme-color }}">
    <h2>{{ page.home-title | upcase }}</h2>
    <h3>{{ page.description }}</h3>
    {% if page.header-img %}
    <img class="header-img" src="{{ page.header-img | prepend: site.baseurl }}" alt="beautiful watercolor roses">
    {% endif %}
</div>

<main class="g-container home-content">
    <div class="article-list">
        <article class="article-item">
            <section class="post-preview">
                <h2 class="about-title">About Me</h2>
                <p class="about-text">Hello! This is me!</p>
                <br>
                <img class="about-img" src="/assets/img/about.jpg" alt="about portrait">
                <br>
                <p class="about-text">I’m Jennifer Rose Fletcher, a 28 yr old living in Australia.</p>
                <p class="about-text">I wanted a little space to write about my love of things I find and Interior design. I have almost finished my diploma of Interior Design (yay!).</p>
                <p class="about-text">I’m learning to express myself in written words and pictures, so it will be simple, fun, beautiful and whatever else I’m feeling on the day :D</p>
                <p class="about-text">There won’t be any schedule, as this is more like my online diary, so whenever I feel inspired or want to share something amazing, I’ll pop up!</p>
                <p class="about-text">Jen x</p>
            </section>
        </article>
    </div>

    <aside class="g-sidebar-wrapper">
        <div class="g-sidebar">
            <section class="author-card">
                <div class="avatar">
                    <img src="{{ site.avatar | prepend: site.baseurl }}" alt="">
                </div>
                <div class="author-name" rel="author">{{ site.author }}</div>
                <div class="bio">
                    <p>{{ site.bio }}</p>
                </div>
                {% if site.sns.size > 0 %}
                <ul id="sns-links" class="sns-links">
                    {% for s in site.sns %}
                    <li>
                        <a href="{{ s[1] }}" target="_blank">
                            <i class="iconfont icon-{{ s[0] }}"></i>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </section>

            {% if site.recommend-tags and site.tags.size>0 %}
            <section class="tags-card">
                {% for tag in site.tags %}
                    {% if forloop.index > site.recommend-condition-size %}
                        {% break %}
                    {% endif %}
                    <a href="{{ "tags.html#" | append: tag[0] | prepend: site.baseurl }}" class="tag">{{ tag[0]}}</a>
                {% endfor %}
            </section>
            {% endif %}
        </div>

        {% if site.search %}
        <div class="search-card">
            <input id="search_input" type="text" placeholder="Search...">
            <i class="iconfont icon-search"></i>
            <div class="search_result"></div>
        </div>
        {% endif %}

        <div class="g-sidebar" style="margin-top: 16px;">
            <section class="follow-card">
              <!-- Begin MailChimp Signup Form -->
              <div id="mc_embed_signup">
                <form action="https://jensrosylife.us18.list-manage.com/subscribe/post?u=1f466e6d64fc0f50baa160417&amp;id=5c9a8ff7f1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll">
	                   <label for="mce-EMAIL">Follow via email</label>
                     <div class="follow-text">
                         <p>enter your email to recieve notifications of new posts</p>
                     </div>
	                   <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1f466e6d64fc0f50baa160417_5c9a8ff7f1" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                  </div>
                </form>
              </div>
              <!--End mc_embed_signup-->
            </section>
        </div>

    </aside>

</main>

{% include footer.html %}
